/* //트랙 */
.airplane-scroll-timeline{
    position: absolute;
    /* border: 10px dashed yellow; */
    height: 13300px;
    width: 1200px;
    margin: 200px 0 300px;
    z-index: 5;
    pointer-events: none;
}
.airplane{position: absolute;
top: 0; width: 100px; left: 0;
will-change:offset-distance; 
offset-distance: 100%;
transform: rotate(180deg);
offset-rotate: auto 0deg;
offset-path:path("M555.29,10907.65c14-72.2,19.63-157.94-26.45-193.96c-60.65-47.4-160.67,30.59-220.41-17.63c-48.78-39.38-55.39-150.58-8.82-220.41c76.71-115,238.37-28.85,467.27-141.06c64.73-31.74,220.14-107.92,273.31-273.31c40.62-126.34,16.63-289.37-79.35-387.92c-103.69-106.46-198.59-42.37-432-149.88c-95.05-43.78-239.76-112.72-326.2-264.49c-15.1-26.5-125.37-220.11-44.08-352.65c54.12-88.25,166.72-106.35,343.84-132.25c315.39-46.11,418.67,28.71,511.35-52.9c103.61-91.24,113.23-306.91,26.45-432c-100.59-144.99-328.77-165.53-546.61-185.14c-206.92-18.63-299.56,10.83-343.84-52.9c-55.97-80.55,12.56-241.97,96.98-343.84c150.37-181.44,308.87-122.92,546.61-317.39c93.99-76.88,213.55-174.68,220.41-317.39c7.24-150.66-114.32-284.85-220.41-352.65c-248.57-158.86-487.45-1.28-573.06-123.43c-79.86-113.95,26.01-396.64,220.41-511.35c226.26-133.51,448.95,33.42,564.24-96.98c88.22-99.78,69.23-323.48-44.08-440.82C759.85,5339.2,383.48,5591.4,185,5388.63c-125.34-128.04-129.78-386.48-26.45-528.98c113.87-157.04,282.8-68.72,564.24-246.86c77.39-48.98,328.36-207.84,343.84-449.63c8.39-131.07-50.48-316.74-167.51-335.02c-93.14-14.55-219.94,77.42-229.22,202.78c-10.51,141.86,135.14,249.99,229.22,238.04c135.36-17.2,193-286.61,202.78-423.18c5.64-78.79,24.64-344.37-141.06-484.9c-160.5-136.12-315.73-3.48-564.24-149.88c-48.74-28.71-189.12-120.03-264.49-290.94c-58.56-132.79-49.98-250.37-35.27-423.18c15.48-181.85,44.28-197.27,96.98-467.27c69.1-353.98,39.05-427.12,123.43-502.53c119.13-106.47,247.86-22.21,361.47-141.06c80.05-83.74,106.04-219.62,70.53-335.02c-42.66-138.64-171.67-239.86-326.2-255.67")

}
.airplane.up{transform: rotate(0deg);}
.airplane.down{transform: rotate(180deg);}
.track{
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
    top: 0;
    width: 1200px;
    will-change: transform;
} 
.flight-path{fill:none; stroke: #fff; stroke-width: 7; stroke-dasharray: 14;}